/* ------------------------------------- /
/   Cancel user select
/* ------------------------------------- */
#header, #carousel-generic, #content, #footer {
	user-select:none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
}

a:visited {
	text-decoration: none;
    color: #373737;
}
a:hover {
	text-decoration: none;
    color: #fff;	
}

/* ------------------------------------- /
/   Header
/* ------------------------------------- */
#header {
	padding-top: 1px;
	background-color: #eee;
}

/* ------------------------------------- /
/   logo outside
/* ------------------------------------- */
.logo {
	text-align: center;
	width: 100px;
	margin: auto auto 20px auto;
}

/* ------------------------------------- /
/   logo text
/* ------------------------------------- */
.logo h1 {
	background-color: white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	padding-top: 37px;
	font-size: 26px;
	color: #7E7E7E;
}
.logo h1 img {
	width: 100px;
	border-radius: 50%;
}

/* ------------------------------------- /
/   navbar
/* ------------------------------------- */
.navbar {
	margin-bottom: 0;
}

/* ------------------------------------- /
/   style for PC
/* ------------------------------------- */
@media(min-width: 768px) {
	.navbar {
		border-radius: 0;
	}	

	/* ------------------------------------- /
	/   navbar menus
	/* ------------------------------------- */
	.navbar-nav {
		float: none;
		width: 500px;
		margin: 0px auto;
		min-height: 50px;
	}

	/* ------------------------------------- /
	/   navbar manu
	/* ------------------------------------- */
	ul.navbar-nav > li {
		min-height: 50px;
		text-align: center;
		float: left;
		width: 100px;
	}
	ul.navbar-nav > li a {
		margin: 10px auto;
	}
	ul.navbar-nav > li:hover {
		cursor: pointer;
		background-color: #aaa;
		color: #ff0000;
	}

	ul.navbar-nav > li:first-child {
	}

	/* ------------------------------------- /
	/   navbar manu
	/* ------------------------------------- */
	.navbar-nav>li>a {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.navbar-default {
		background-color: #7E7E7E;
		border:none;
	}

	.navbar-default .navbar-nav>li>a {
		color: #fff;
	}
	.navbar-default .navbar-nav>li>a:hover {
		color: #fff;
	}
	.navbar-default .navbar-nav>li>a:link {
		color: #fff;
	}
	.navbar-default .navbar-nav>li>a:visited {
		color: #fff;
	}
}
/* ------------------------------------- /
/   nstyle for mobile device
/* ------------------------------------- */
@media(max-width: 768px){
	.navbar-default {
		border-color: #7E7E7E;
	}

	.navbar-header {
		background-color: #7E7E7E;
	}

	.navbar-default .navbar-toggle {
		border-color: #FFF;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #FFF;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #FFF;
	}
	.navbar-default .navbar-toggle:hover > .icon-bar,
	.navbar-default .navbar-toggle:focus > .icon-bar {
		background-color: #7E7E7E;
	}

	.navbar-default .navbar-brand {
		color: #FFF;
	}
}

/* ------------------------------------- /
/   carousel image
/* ------------------------------------- */
.carousel-inner video {
	width: 100%;
}
/*
.carousel-inner video {
	width: 70%;
}
.item {
	text-align: center;
}	
*/


/* ------------------------------------- /
/   content
/* ------------------------------------- */
.title {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}

.text-box {
	margin-bottom: 40px;
}
@media(min-width: 768px) {
	.text-box:first-child {
		border-right: 2px solid #ddd;
	}
}



/* ------------------------------------- /
/   content
/* ------------------------------------- */
.title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
 
.text-box{
    margin-bottom: 40px;
}
 
/*--------------------------------- /
/*  3 image panels
/*--------------------------------- */
.panel {
    margin-bottom: 20px;
    background-color: #D1D1D1;
    border: none;
}
 
.panel-body {
    text-align: center;
    height: 180px;
    padding-top: 90px;
    color: #888;
    font-size: 18px;
}

.panel-footer {
    text-align: center;
    padding: 18px 15px;
    background-color: #7E7E7E;
    border-top: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
@media (max-width: 768px){
    .panel{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}


/*--------------------------------- /
/*  button-box
/*--------------------------------- */
.button-box{
    text-align: center;
    padding: 60px 0;
    margin-top: 40px;
    background-color: #eee;
}
 
.button-box p {
    color: #888;
}
 
.btn {
    padding: 12px 80px;
}
 
.button-box .btn-default {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background-color: #7E7E7E;
}



/* ------------------------------------- /
/    Footer
/* ------------------------------------- */
#footer{
    text-align: center;
    padding: 40px 0;
    background-color: #7E7E7E;
}

/* --------------------------------- /
/*  logo
/*--------------------------------- */
#footer .logo{
    margin-top: 0;
}

#footer .logo p {
    margin: 0;
    padding-top: 34px;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 26px;
    color: #7E7E7E;
    font-weight: bold;
    background-color: #fff;
}

/* --------------------------------- /
/*  nav
/*--------------------------------- */
#footer .navbar-nav > li {
    border-right: 1px solid #ccc;
}
#footer .navbar-nav > li.first{
    border-left: 1px solid #ccc;
}

#footer .navbar-nav li a{
    color: #fff;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
}

/* --------------------------------- /
/*  sns-icon
/*--------------------------------- */
.sns-icon{
    margin-top: 30px;
}

.sns-icon li{
    padding-left: 20px;
}
.sns-icon li:hover{
    color: #fff;
}

/* --------------------------------- /
/*  copy
/*--------------------------------- */
.copy{
    margin-top: 20px;
}

.copy span{
    color: #ccc;
}

.modal-footer button.btn {
	text-align: center;
	margin-top: 10px;
	width: 190px;
}